.nav-collapse
  ul.nav
    li.active
      a(href="#") Home
    li
      a(href="#") About
    li
      a(href="#") Contact
      
  form(action="", class="navbar-search pull-right")

    input(type="text",placeholder="Search").search-query

