.nav-collapse
  ul.nav
    li.active
      a(href="#") Home
    li
      a(href="https://github.com/Evangenieur/CoffeeScript-Demo", target="_blank") Source code on Github
    li
      a(href="http://twitter.com/evangenieur", target="_blank") Twitter Contact
  
  ul(class="nav pull-right")
    li
      a(href="http://twitter.com/?status=#{tweet.msg}", target="_blank") Tweet This

