script(src='/js/jquery-1.7.1.min.js')
script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js')

script(src='https://raw.github.com/ajaxorg/ace/master/build/src/ace.js')
script(src='https://raw.github.com/ajaxorg/ace/master/build/src/mode-coffee.js')
script(src='https://raw.github.com/ajaxorg/ace/master/build/src/theme-twilight.js')

script(src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js")

script(src='http://jashkenas.github.com/coffee-script/extras/coffee-script.js')
script(src='/coffee/script.coffee',type='text/coffeescript')
