link(rel="stylesheet", href="/css/reset.css", type="text/css")
link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css", type="text/css")
link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css")
link(rel="stylesheet", href="/css/styles.css", type="text/css")
link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css", type="text/css")