extends layout

block title
  title #{project.name} &gt; #{page.name}


block head
  h1 #{page.name} 
  p Live CoffeeScript coding experiments
  h2 CoffeeScript code
  div(class="alert alert-success")
    p
      strong Use function : _  
      i (underscore) 
      |  to display in output

  #coffee-editor

block content
  .span6
    h3 Compiled Javascript
    #compile-alert
    pre#compiled-js(class="prettyprint linenums")
  .span6
    h3 Output
    #runtime-alert
    pre#console-log(class="prettyprint linenums")
