body 
  position relative
  padding-top 40px
  paddin-bottom 40px

#coffee-editor 
  position: relative
  width: 100%
  height: 250px

#code
  width: 100%

@media (max-width: 980px) 

  body 
    padding-top 0px

